.logo{
  font-family: $openSans;
  color: $baseColorRed;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  &__part{
    color: $text-color;
  }
}
