.main-content{
  grid-column: 4/9;
  padding: 11px 0 0px 13px;
  margin-bottom: 0;
  @include md{
    grid-column: 1/10;
  }
  &__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    transition: all 0.5s;
    @include lg{
      justify-content: center;
    }
  }
  &__card{
    margin: 0 0px 6px 0;
    padding: 6px 7px 4px 6px;
  }
  &__content{
    padding:  6px 0 0 4px;
  }
  &__top{
    margin-bottom: 4px;
  }
  &__price{
    padding: 0px 10px 0 0px;
     margin: 5px 0 0 0;

  }
  &__btn{
     margin: 1px 0 0 8px;
  }

}
