.sidebar{
  margin: 10px 11px 0 0;
  grid-column: 2/4;

  position: relative;
  &::after{
    content: "";
    width: 1px;
    height: 100%;
    background: #c1c1c1;
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
  }
  @include md{
    grid-column: 2/10;
  }
  &__title{
    font-size: 14px;
    color: $lightgrey;
    margin: 0;
    padding: 10px 18px;
    background: $baseColorRed;
    text-transform: uppercase;
  }
  &__list{
    list-style: none;
    padding: 0;
    margin: 0;
  }
  &__link{
    border: 1px solid #e0e1e2;
    border-left: none;
    text-decoration: none;
    width: 100%;
    display: inline-block;
    padding: 11px 0px 8px 17px;
    font-size: 15px;
    color: $text-color;
    &::before {
      content: "";
      display: inline-block;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5.5px 0 5.5px 6px;
      border-color: transparent transparent transparent #e8e681;
      margin-right: 13px;
    }
    &:hover,
    &:active{
      border-right: 5px solid $baseColorRed;
      background: #fff;
    }
  }

}
.active{
  border-right: 5px solid $baseColorRed;
  background: #fff;
}
